Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/appinspector-pr.yml: any of: Pipelines, AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine, AppInspector.Tests, AppInspector.Tests.CLI
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Update index.html (#564)
  AppInspector.CLI/html/index.html
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fixes an issue with setting correct index values when matching a property of an xml tag with an xpath
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml

Update comments
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml

Improve robustness of new test cases.
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/appinspector-pr.yml

Fixes an issue with setting correct index values (#567)
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml

Update README.md
  README.md
Due: none

Net 8.0
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests.CLI/AppInspector.Tests.CLI.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update Dependencies (#569)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests.CLI/AppInspector.Tests.CLI.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  README.md
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Clamp the Excerpt end index to the end of the file
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml

Add clamping test for Extract Excerpt
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/ExtractSamplesTests.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml

Update dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Clamp the Excerpt end index to the end of the file (#571)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/ExtractSamplesTests.cs
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update pipeline template
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Fix tag version for pipeline templates
  Pipelines/appinspector-pr.yml
Due: Pipelines/appinspector-pr.yml

Update dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Pool Name
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Update pipeline template (#572)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add initial set of PQ and AI checks, auth'n/z updates
  AppInspector/rules/default/ai/deep_learning.json
  AppInspector/rules/default/ai/general.json
  AppInspector/rules/default/ai/generative_ai_libraries.json
  AppInspector/rules/default/ai/machine_learning.json
  AppInspector/rules/default/ai/neural_networks.json
  AppInspector/rules/default/ai/nlp.json
  AppInspector/rules/default/ai/statistics.json
  AppInspector/rules/default/cryptography/hash_algorithm.json
  AppInspector/rules/default/cryptography/post_quantum.json
  AppInspector/rules/default/security_feature/authentication.json
  AppInspector/rules/default/security_feature/authorization.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Python semantic_kernel.
  AppInspector/rules/default/ai/generative_ai_libraries.json
  AppInspector/rules/default/cryptography/hash_algorithm.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add AI tag group to html report
  AppInspector.CLI/preferences/tagreportgroups.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Remove code scope definition from txt rules
  AppInspector/rules/default/ai/deep_learning.json
  AppInspector/rules/default/ai/generative_ai_libraries.json
  AppInspector/rules/default/ai/machine_learning.json
  AppInspector/rules/default/ai/neural_networks.json
  AppInspector/rules/default/ai/nlp.json
  AppInspector/rules/default/ai/statistics.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Embed remote resources in html report
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.CLI/Writers/AnalyzeHtmlWriter.cs
  AppInspector.CLI/html/index.html
  AppInspector.CLI/html/resources/css/bootstrap.min.css
  AppInspector.CLI/html/resources/css/c3.css
  AppInspector.CLI/html/resources/css/fa-all.css
  AppInspector.CLI/html/resources/js/d3.min.js
  AppInspector.CLI/html/resources/js/deps/deps.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Replace D3+C3 with Charts.Js
  AppInspector.CLI/html/partials/_report_summary.liquid
  AppInspector.CLI/html/resources/css/bootstrap.min.css
  AppInspector.CLI/html/resources/js/appinspector.js
  AppInspector.CLI/html/resources/js/deps/deps.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Restore static 200px width to charts.
  AppInspector.CLI/html/partials/_report_summary.liquid
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Datalabels to charts
  AppInspector.CLI/html/resources/js/appinspector.js
  AppInspector.CLI/html/resources/js/deps/deps.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix tabs on summary page
  AppInspector.CLI/html/partials/_report_summary.liquid
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix Source Code Modal for BootStrap 5
  AppInspector.CLI/html/resources/js/appinspector.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Swap Ace for Prism highlighting
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.CLI/html/partials/_file_listing.liquid
  AppInspector.CLI/html/resources/css/c3.css
  AppInspector.CLI/html/resources/css/prism.css
  AppInspector.CLI/html/resources/js/appinspector.js
  AppInspector.CLI/html/resources/js/deps/deps.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Make modal a bit wider
  AppInspector.CLI/html/partials/_file_listing.liquid
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Unescape HTML sequences to render in pre tag
  AppInspector.CLI/html/resources/js/appinspector.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add initial set of PQ and AI checks, auth'n/z updates (#573)
  AppInspector.CLI/preferences/tagreportgroups.json
  AppInspector/rules/default/ai/deep_learning.json
  AppInspector/rules/default/ai/general.json
  AppInspector/rules/default/ai/generative_ai_libraries.json
  AppInspector/rules/default/ai/machine_learning.json
  AppInspector/rules/default/ai/neural_networks.json
  AppInspector/rules/default/ai/nlp.json
  AppInspector/rules/default/ai/statistics.json
  AppInspector/rules/default/cryptography/hash_algorithm.json
  AppInspector/rules/default/cryptography/post_quantum.json
  AppInspector/rules/default/security_feature/authentication.json
  AppInspector/rules/default/security_feature/authorization.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Embed remote resources in html report (#574)
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.CLI/Writers/AnalyzeHtmlWriter.cs
  AppInspector.CLI/html/index.html
  AppInspector.CLI/html/partials/_file_listing.liquid
  AppInspector.CLI/html/partials/_report_summary.liquid
  AppInspector.CLI/html/resources/css/bootstrap.min.css
  AppInspector.CLI/html/resources/css/fa-all.css
  AppInspector.CLI/html/resources/css/prism.css
  AppInspector.CLI/html/resources/js/appinspector.js
  AppInspector.CLI/html/resources/js/d3.min.js
  AppInspector.CLI/html/resources/js/deps/deps.js
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Output formatted instead of minified sarif
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Output formatted instead of minified sarif (#577)
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Basic Socket and HTTP Listener Rules
  AppInspector/rules/default/networkcomms/inbound_network.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Bump dependencies.
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Basic Socket and HTTP Listener Rules (#578)
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  AppInspector/rules/default/networkcomms/inbound_network.json
Due: Pipelines/appinspector-pr.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Try migrate to 1ES templates
  Pipelines/appinspector-pr.yml
Due: Pipelines/appinspector-pr.yml
