Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Try exporting release version variable for github release job
  Pipelines/appinspector-release.yml
Due: none

Try exporting release version variable for github release job (#613)
  Pipelines/appinspector-release.yml
Due: none

Removes Redundant Set Version steps
  Pipelines/appinspector-release.yml
Due: none

Removes Redundant Set Version steps (#614)
  Pipelines/appinspector-release.yml
Due: none

Testing variable passing functionlity
  Pipelines/appinspector-pr.yml
Due: none

Remove test code from pr
  Pipelines/appinspector-pr.yml
Due: none

Try Fix variable definition in release pipeine
  Pipelines/appinspector-release.yml
Due: none

Whitespace
  Pipelines/appinspector-release.yml
Due: none

Fix Variable Passing (#615)
  Pipelines/appinspector-release.yml
Due: none

Update Dependencies and swap to xunit dependencies instead of mstest
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Refactor tests to use Xunit
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestExportTagsCmd.cs
  AppInspector.Tests/Commands/TestPackRulesCmd.cs
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
  AppInspector.Tests/Languages/LanguagesTests.cs
  AppInspector.Tests/RuleProcessor/ExtractSamplesTests.cs
  AppInspector.Tests/RuleProcessor/LoadRulesTests.cs
  AppInspector.Tests/RuleProcessor/QuotedStringsTests.cs
  AppInspector.Tests/RuleProcessor/RegexModifiersTests.cs
  AppInspector.Tests/RuleProcessor/RegexWithIndexTests.cs
  AppInspector.Tests/RuleProcessor/RuleTests.cs
  AppInspector.Tests/RuleProcessor/SubstringWithIndexTests.cs
  AppInspector.Tests/RuleProcessor/WithinClauseTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Update appinspector-pr.yml
  Pipelines/appinspector-pr.yml
Due: none

Update AppInspector.Tests.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
Due: none

Fix missing test sdk reference
  AppInspector.Tests/AppInspector.Tests.csproj
Due: none

Try resolve file in use errors in pipeline by using fixture
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Update TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Update appinspector-release.yml
  Pipelines/appinspector-release.yml
Due: none

Update Dependencies and Migrate to XUnit (#616)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestExportTagsCmd.cs
  AppInspector.Tests/Commands/TestPackRulesCmd.cs
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
  AppInspector.Tests/Languages/LanguagesTests.cs
  AppInspector.Tests/RuleProcessor/ExtractSamplesTests.cs
  AppInspector.Tests/RuleProcessor/LoadRulesTests.cs
  AppInspector.Tests/RuleProcessor/QuotedStringsTests.cs
  AppInspector.Tests/RuleProcessor/RegexModifiersTests.cs
  AppInspector.Tests/RuleProcessor/RegexWithIndexTests.cs
  AppInspector.Tests/RuleProcessor/RuleTests.cs
  AppInspector.Tests/RuleProcessor/SubstringWithIndexTests.cs
  AppInspector.Tests/RuleProcessor/WithinClauseTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Rules for Detecting .NET MCP SDK
  AppInspector/rules/default/ai/mcp.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

add node rule
  AppInspector/rules/default/ai/mcp.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add basic Python SDK detection
  AppInspector/rules/default/ai/mcp.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Rules For Detecting MCP SDKs (#617)
  AppInspector/rules/default/ai/mcp.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add NugetConfig and consume in pipelines
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  nuget.config.azure
Due: none

Bump Dependencies
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Use Nuget.Config in Pipeline and Update Dependencies (#618)
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  nuget.config.azure
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

change release pipeline to use same templates as PR pipeline
  Pipelines/appinspector-release.yml
Due: none

add nuget config for release pipeline
  Pipelines/appinspector-release.yml
  nuget.release.config
Due: none

add nuget config for release pipeline (#620)
  Pipelines/appinspector-release.yml
  nuget.release.config
Due: none

Add a test case to replicate reported bug behavior
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Add tests for XPath version pattern matching
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Improve XML position tracking in XPath extraction
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Update tests to verify XPath sample extraction bug fix
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Refactor XML document handling in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Improve XML parsing and boundary detection logic
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Switch XML parsing to XDocument for XPath support
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Improve XML value position detection and update XPath tests
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Fix XPath rule and test assertions in XPathPositionTests
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Improve attribute position search in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Add MaxAttributeSearchDistance constant
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml
