Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Update XmlAndJsonTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Fixes XPath queries that use @ for attributes (#539)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Provide filepath to the textcontiner for logging messages
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Provide filepath to the textcontiner for logging messages (#540)
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Update dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Directory.Build.props
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update dependencies (#542)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Directory.Build.props
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add rule verifier check to require a description.
  AppInspector.RulesEngine/RulesVerifier.cs
Due: Pipelines/core-pipeline.yml

Adds test to fail on rules without description
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
Due: none

Description is now a required field in each rule, SemVer relevant
  version.json
Due: none

Description field may not be null
  AppInspector.RulesEngine/Rule.cs
Due: Pipelines/core-pipeline.yml

Update AnalyzeSarifWriter.cs
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add rule verifier check to require a description. (#544)
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Try Fix #545
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexOperation.cs
  AppInspector.RulesEngine/SearchPattern.cs
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Add json name
  AppInspector.RulesEngine/SearchPattern.cs
Due: Pipelines/core-pipeline.yml

Fixes for self-closing tags
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Add support for exclusion file regexes
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/Rule.cs
Due: Pipelines/core-pipeline.yml

Fix a bug with calculating the correct set of rules for a file
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/core-pipeline.yml

Add comment style for xml
  AppInspector.RulesEngine/Resources/comments.json
Due: Pipelines/core-pipeline.yml

Add a test for namespace based XML queries
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Add test for exclude file regex
  AppInspector.RulesEngine/Rule.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: Pipelines/core-pipeline.yml

Better base case for rule verifier
  AppInspector.RulesEngine/Resources/languages.json
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/core-pipeline.yml

Add Support for Xpath Queries with Namespaces (#546)
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexOperation.cs
  AppInspector.RulesEngine/Resources/comments.json
  AppInspector.RulesEngine/Resources/languages.json
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/SearchPattern.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/core-pipeline.yml

Incorporate Fix from RE
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Incorporate Fix from RE (#547)
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Remove old templates
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

New PR Pipeline
  Pipelines/appinspector-pr.yml
  Pipelines/core-pipeline.yml
Due: none

Spacing
  Pipelines/appinspector-pr.yml
Due: none

More spacing
  Pipelines/appinspector-pr.yml
Due: none

Remove linux test job
  Pipelines/appinspector-pr.yml
Due: none

Create appinspector-release.yml
  Pipelines/appinspector-release.yml
Due: none

Re-enable release task
  Pipelines/appinspector-release.yml
Due: none

Update Pipelines (#549)
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Fixes Sarif Output Format
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector.CLI/oat.devskim.sarif
  AppInspector.CLI/out.sarif
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix Excerpt Size Restriction on Single Line Files
  .gitignore
  AppInspector.CLI/out.sarif
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix character calculation to account for both context sides
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/core-pipeline.yml

Sarif now sets the level for each finding to Note
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Delete oat.devskim.sarif
  AppInspector.CLI/oat.devskim.sarif
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fixes Sarif Output Format (#550)
  .gitignore
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Port DevSkim Sarif Output Workarounds to ApplicationInspector
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml
