Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Pipelines/core-pipeline.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        jobName: test_current
        dotnetVersion: ${{ variables.currentSDK }}
        dotnetVersionLTS: ${{ variables.LTS_SDK }}
  ...

Pipelines/sdl.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Potential fix for pull request finding
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Potential fix for pull request finding
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Refactor exception handling in Analyze Command tests to use SkipException.ForSkip to fix build break.
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Enhance symlink handling in tests and update AnalyzeCommand to change default symlink behavior
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Report skipped symlinks instead of dropping them silently
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.Tests/CLI/TestFollowSymlinksOption.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
  AppInspector.Tests/SymlinkTestSupport.cs
  AppInspector/Commands/AnalyzeCommand.cs
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix conditions dropping all but the first pattern's findings
  AppInspector.CLI/Writers/VerifyRulesTextWriter.cs
  AppInspector.RulesEngine/OatExtensions/WithinOperation.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  AppInspector.Tests/RuleProcessor/WithinClauseTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Make pattern-level conditions actually gate their pattern
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/WithinClause.cs
  AppInspector.RulesEngine/OatExtensions/WithinOperation.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/PatternConditionsTests.cs
Due: Pipelines/core-pipeline.yml

Fix build-file rule tag filtering
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/BuildFileRuleTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add WebApp.API ruleset for detecting exposed HTTP/REST APIs
  AppInspector.CLI/preferences/tagreportgroups.json
  AppInspector.RulesEngine/Resources/languages.json
  AppInspector/rules/default/webapp/api.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Make pattern-level conditions actually gate their pattern (#652)
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/WithinClause.cs
  AppInspector.RulesEngine/OatExtensions/WithinOperation.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/SearchCondition.cs
  AppInspector.RulesEngine/SearchPattern.cs
  AppInspector.Tests/RuleProcessor/PatternConditionsTests.cs
  rule-schema-v1.json
Due: Pipelines/core-pipeline.yml

Fix JSON serialization for Result-derived classes (#1)
  AppInspector.CLI/Properties/AssemblyInfo.cs
  AppInspector.CLI/Writers/JsonWriter.cs
  AppInspector.Tests/Commands/TestExportTagsCmd.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Cover the json writers through the public ResultsWriter path
  AppInspector.Tests/Commands/TestExportTagsCmd.cs
  AppInspector.Tests/Commands/TestJsonWriter.cs
Due: none

Serialize tagDiffList by making TagDiffList a property
  AppInspector.CLI/Properties/AssemblyInfo.cs
  AppInspector/Commands/TagDiffCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Report skipped symlinks instead of dropping them silently (#649)
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.Tests/CLI/TestFollowSymlinksOption.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
  AppInspector.Tests/SymlinkTestSupport.cs
  AppInspector/Commands/AnalyzeCommand.cs
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Reject conditions evaluated before any pattern, and surface unreadable files
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
Due: Pipelines/core-pipeline.yml

Validate rule expressions and labels
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
Due: Pipelines/core-pipeline.yml

Add regression tests for conditions across multiple pattern captures
  AppInspector.Tests/RuleProcessor/WithinClauseMultiPatternTests.cs
Due: none

Add expression and label to the rule model
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/SearchCondition.cs
  AppInspector.RulesEngine/SearchPattern.cs
  rule-schema-v1.json
Due: Pipelines/core-pipeline.yml

Address review feedback on schema and collection use
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
  rule-schema-v1.json
Due: Pipelines/core-pipeline.yml

Report the pattern that actually matched for string patterns
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexClause.cs
  AppInspector.RulesEngine/OatExtensions/OatSubstringIndexOperation.cs
  AppInspector.Tests/RuleProcessor/PatternIndexReportingTests.cs
Due: Pipelines/core-pipeline.yml

Report the findings that satisfy the rule expression
  AppInspector.RulesEngine/RuleExpression.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionBehaviourTests.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionParserTests.cs
Due: Pipelines/core-pipeline.yml

Apply rule overrides consistently in both analysis paths
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/OverrideTests.cs
Due: Pipelines/core-pipeline.yml

Unify the synchronous and asynchronous analysis paths
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/SyncAsyncParityTests.cs
Due: Pipelines/core-pipeline.yml

Bump minor version for the rules engine work
  version.json
Due: none

Align the finding-region schema pattern with every engine constraint
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
  rule-schema-v1.json
Due: none

Cover the case that per-finding expression evaluation exists for
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionBehaviourTests.cs
Due: Pipelines/core-pipeline.yml

Contain a failing file to its own record instead of abandoning the scan
  AppInspector.Tests/Commands/AnalyzeResilienceTests.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Share one implementation between the sync and async analysis paths
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/SyncAsyncParityTests.cs
Due: Pipelines/core-pipeline.yml

Document pattern level conditions instead of applies_to_patterns
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Take OAT 1.2.95 for the parenthesis balance fix
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/RuleProcessor/OatExpressionSemanticsTests.cs
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Translate author supplied labels and expressions
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/WithinClause.cs
  AppInspector.Tests/RuleProcessor/ExpressionGenerationTests.cs
Due: Pipelines/core-pipeline.yml

Reject expression operators used as labels
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
Due: Pipelines/core-pipeline.yml

Document rule expressions
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Bound expression nesting and stop caching parsed expressions forever
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/ConvertedOatRule.cs
  AppInspector.RulesEngine/RuleExpression.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionNestingLimitTests.cs
  rule-schema-v1.json
Due: Pipelines/core-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine
