Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Pipelines/core-pipeline.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        jobName: test_current
        dotnetVersion: ${{ variables.currentSDK }}
        dotnetVersionLTS: ${{ variables.LTS_SDK }}
  ...

Pipelines/sdl.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Refactor test rule creation with shared helpers
  AppInspector.Tests/RuleProcessor/RuleTestHelpers.cs
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
  AppInspector.Tests/RuleProcessor/XPathComprehensiveTests.cs
Due: none

Refactor XML search window constants in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Improve XML namespace mapping error logging
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
Due: Pipelines/core-pipeline.yml

Refactor value comparison in attribute search
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Add defensive checks for line and column bounds in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Add tests for malformed XML line info in XPath handling
  AppInspector.Tests/RuleProcessor/XPathMalformedLineInfoTests.cs
Due: none

Remove redundant index checks in XPathBoundaryTests
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
Due: none

Try Fixing XPath Bug (#624)
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/RuleTestHelpers.cs
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
  AppInspector.Tests/RuleProcessor/XPathComprehensiveTests.cs
  AppInspector.Tests/RuleProcessor/XPathMalformedLineInfoTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/core-pipeline.yml

Update pipeline template reference to v2.0.4
  Pipelines/appinspector-release.yml
Due: none

Add JSON schema validation for rules and tests
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/RuleStatus.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/RulesVerifierOptions.cs
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.RulesEngine/Schema/rule-schema.json
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: Pipelines/core-pipeline.yml

Update pipeline template reference to v2.0.4 (#625)
  Pipelines/appinspector-release.yml
Due: none

Update AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
Due: Pipelines/core-pipeline.yml

Add YamlPath support and tests to RulesEngine
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/YamlPathExtensions.cs
  AppInspector.Tests/RuleProcessor/YamlPathTests.cs
  Pipelines/appinspector-release.yml
Due: Pipelines/core-pipeline.yml

Update rule schema and improve schema validation tests
  AppInspector.RulesEngine/Schema/rule-schema.json
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: Pipelines/core-pipeline.yml

Cache schema validation results in rules
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/Ruleset.cs
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.RulesEngine/TypedRuleSet.cs
Due: Pipelines/core-pipeline.yml

Remove line number and position from schema errors
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
Due: Pipelines/core-pipeline.yml

Remove debug code from schema validation test
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: none

Add negative schema validation tests for rules
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: none

Update AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: none

Update rule schema handling and add versioned schema
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  rule-schema-v1.json
  rule-schema.json
Due: Pipelines/core-pipeline.yml

Update schema validation tests and remove rule-schema.json
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
  rule-schema.json
Due: none

Refactor error collection to use stack instead of recursion
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
Due: Pipelines/core-pipeline.yml

Add YamlPath support and tests to RulesEngine (#627)
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/YamlPathExtensions.cs
  AppInspector.Tests/RuleProcessor/YamlPathTests.cs
  Pipelines/appinspector-release.yml
Due: Pipelines/core-pipeline.yml

Add JSON schema validation for rules and tests (#626)
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleStatus.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/RulesVerifierOptions.cs
  AppInspector.RulesEngine/Ruleset.cs
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.RulesEngine/TypedRuleSet.cs
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
  rule-schema-v1.json
Due: Pipelines/core-pipeline.yml

Update Dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update Dependencies (#628)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Mechanism to construct from a string representation of JSON Schema
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: Pipelines/core-pipeline.yml

Fix Assert in Schema Test
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: none

Add Mechanism to construct from a string representation of JSON Schema (#629)
  AppInspector.RulesEngine/Schema/RuleSchemaProvider.cs
  AppInspector.Tests/RuleProcessor/SchemaValidationTests.cs
Due: Pipelines/core-pipeline.yml

move pipelines to new org
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: none

move pipelines to new org (#631)
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: none

Add markdown output format for CI environments with key features summary (#630)
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.CLI/Program.cs
  AppInspector.CLI/Writers/AnalyzeMarkdownWriter.cs
  AppInspector.CLI/Writers/WriterFactory.cs
  AppInspector.Tests/Commands/TestMarkdownWriter.cs
  README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix JSON validation errors and add comprehensive rule samples (#633)
  AppInspector/rules/default/ai/generative_ai_libraries.json
  AppInspector/rules/default/cryptography/extended.json
  AppInspector/rules/default/cryptography/post_quantum.json
  AppInspector/rules/default/cryptography/weakssl.json
  AppInspector/rules/default/frameworks/build.json
  AppInspector/rules/default/frameworks/c.json
  AppInspector/rules/default/frameworks/rust.json
  AppInspector/rules/default/os/dynamic_execution.json
  AppInspector/rules/samples/README.md
  AppInspector/rules/samples/comprehensive_sample_rule.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add .NET 10 as a build target and update test matrix (#632)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Copilot instructions for repository context (#640)
  .github/copilot-instructions.md
Due: none

Add detection for AWS credential-returning API calls (#637)
  AppInspector/rules/default/security_feature/authentication.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix JSON serialization for Result-derived classes (#1)
  AppInspector.CLI/Properties/AssemblyInfo.cs
  AppInspector.CLI/Writers/JsonWriter.cs
  AppInspector.Tests/Commands/TestExportTagsCmd.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix typo in tagreportgroups.json
  AppInspector.CLI/preferences/tagreportgroups.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix typo in comment for RuleSetUtils.cs
  AppInspector/RuleSetUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine
