Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Update dependencies. (#530)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update README.md
  README.md
Due: none

Update README.md (#532)
  README.md
Due: none

Adds DependsOnTags field to Rule
  AppInspector.Benchmarks/DistinctBenchmarks.cs
  AppInspector.Common/MsgHelp.cs
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/MatchRecord.cs
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/Commands/ExportTagsCommand.cs
  AppInspector/MetaDataHelper.cs
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix query for rules with null depends on field
  AppInspector.RulesEngine/RulesVerifier.cs
Due: Pipelines/core-pipeline.yml

Formatting: Add Missing Braces Back
  .editorconfig
  AppInspector.Benchmarks/DistinctBenchmarks.cs
  AppInspector.CLI/Program.cs
  AppInspector.CLI/Writers/AnalyzeHtmlWriter.cs
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector.CLI/Writers/AnalyzeTextWriter.cs
  AppInspector.CLI/Writers/ExportTagsTextWriter.cs
  AppInspector.CLI/Writers/TagDiffTextWriter.cs
  AppInspector.CLI/Writers/VerifyRulesTextWriter.cs
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/Languages.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/OatExtensions/WithinOperation.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/TypedRuleSet.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
  AppInspector.Tests/RuleProcessor/WithinClauseTests.cs
  AppInspector.Tests/TestHelpers.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/Commands/ExportTagsCommand.cs
  AppInspector/Commands/TagDiffCommand.cs
  AppInspector/MetaDataHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Revert "Formatting: Add Missing Braces Back"
  .editorconfig
  AppInspector.Benchmarks/DistinctBenchmarks.cs
  AppInspector.CLI/Program.cs
  AppInspector.CLI/Writers/AnalyzeHtmlWriter.cs
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector.CLI/Writers/AnalyzeTextWriter.cs
  AppInspector.CLI/Writers/ExportTagsTextWriter.cs
  AppInspector.CLI/Writers/TagDiffTextWriter.cs
  AppInspector.CLI/Writers/VerifyRulesTextWriter.cs
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/Languages.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/OatExtensions/WithinOperation.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/TypedRuleSet.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
  AppInspector.Tests/RuleProcessor/WithinClauseTests.cs
  AppInspector.Tests/TestHelpers.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/Commands/ExportTagsCommand.cs
  AppInspector/Commands/TagDiffCommand.cs
  AppInspector/MetaDataHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Set beta flag
  version.json
Due: none

Fix Verification message for missing depends_on_tags
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.RulesEngine/RuleStatus.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/RulesVerifierResult.cs
  AppInspector/Commands/VerifyRulesCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Improve description for test rules
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Formatting and additional comments on the Rule and AnalyzeCommand objects
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Catch edge case in verification where an overridden rule doesn't have the depends on of its overrider
  AppInspector.Common/MsgHelp.cs
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
Due: Pipelines/core-pipeline.yml

Adds Support for Chained Dependent Rules
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Typo in test rule description
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
Due: none

Small refactor to deduplicate logic
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Improve variable names
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Adds proposed fix for StringToRegex to catch rules that can't be non-backtracked
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
Due: Pipelines/core-pipeline.yml

Move StringToRegex helper to Utils
  AppInspector.Common/MsgHelp.cs
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.Common/Utils.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
Due: Pipelines/core-pipeline.yml

tests added for pattern modifiers with/without backtracking
  AppInspector.Tests/RuleProcessor/RegexModifiersTests.cs
Due: none

Add Logging Passthrough for StringToRegex
  AppInspector.Common/Utils.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/RulesVerifier.cs
Due: Pipelines/core-pipeline.yml

Adds DependsOnTags field to Rule (#533)
  AppInspector.Benchmarks/DistinctBenchmarks.cs
  AppInspector.Common/MsgHelp.cs
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/MatchRecord.cs
  AppInspector.RulesEngine/Rule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RuleStatus.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/RulesVerifierResult.cs
  AppInspector.Tests/Commands/TestAnalyzeCmd.cs
  AppInspector.Tests/Commands/TestVerifyRulesCmd.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/Commands/ExportTagsCommand.cs
  AppInspector/Commands/VerifyRulesCommand.cs
  AppInspector/MetaDataHelper.cs
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Support non-backtracking regex (#528)
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.CLI/Program.cs
  AppInspector.Common/MsgHelp.cs
  AppInspector.Common/Properties/Resources.Designer.cs
  AppInspector.Common/Properties/Resources.resx
  AppInspector.Common/Utils.cs
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/OatRegexWithIndexOperation.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.RulesEngine/RulesVerifierOptions.cs
  AppInspector.RulesEngine/Ruleset.cs
  AppInspector.RulesEngine/SearchPattern.cs
  AppInspector.Tests/DefaultRules/TestDefaultRules.cs
  AppInspector.Tests/RuleProcessor/RegexModifiersTests.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/Commands/PackRulesCommand.cs
  AppInspector/Commands/TagDiffCommand.cs
  AppInspector/Commands/VerifyRulesCommand.cs
  AppInspector/RuleSetUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Automatically populate git repository information
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/GitInformation.cs
  AppInspector/MetaData.cs
  AppInspector/MetaDataHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Report auto gathered git information in sarif report
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Include LibGit2Sharp dependency
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update comment on CreateFresh
  AppInspector/MetaDataHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Only create a fresh metadata object when needed
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Automatically gather Git information (#534)
  AppInspector.CLI/CLICmdOptions.cs
  AppInspector.CLI/Writers/AnalyzeSarifWriter.cs
  AppInspector/AppInspector.Commands.csproj
  AppInspector/Commands/AnalyzeCommand.cs
  AppInspector/GitInformation.cs
  AppInspector/MetaData.cs
  AppInspector/MetaDataHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update version.json
  version.json
Due: none

Fix override behavior
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/RuleTests.cs
Due: Pipelines/core-pipeline.yml

Fix override behavior (#538)
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/RuleProcessor/RuleTests.cs
Due: Pipelines/core-pipeline.yml

Update comments in languages.cs
  AppInspector.RulesEngine/Languages.cs
Due: Pipelines/core-pipeline.yml

Update readme
  README.md
Due: none

Update version.json (#537)
  AppInspector.RulesEngine/Languages.cs
  README.md
  version.json
Due: Pipelines/core-pipeline.yml

Fix XPath attribute index handling
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Add XML Attribute test
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Update packages.
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

More Dependency updates
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml
