Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Add cross-platform line ending tests for XPath
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Improve line ending handling in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Handle cross-platform line endings in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Improve XPath evaluation and add namespace tests
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Add OS-specific XML test data and refactor XPath tests
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithAttributeAndElementDuplicates_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithAttributeAndElementDuplicates_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateValues_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateValues_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMavenNamespace_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMavenNamespace_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNamespaces_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNamespaces_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNestedDuplicates_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNestedDuplicates_windows.xml
Due: none

Refactor test data loading in XPathPositionTests
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Refactor XPathPositionTests to use external XML test data
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateAttributeValues_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithEmptyElements_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithLongAttributes_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMultiLineAttributes_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithWhitespace_unix.xml
Due: none

Add Windows XML test fixtures and update .gitattributes
  .gitattributes
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateAttributeValues_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithEmptyElements_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithLongAttributes_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMultiLineAttributes_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithWhitespace_windows.xml
Due: none

Refactor XPath position test names and add test data
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Update XmlAndJsonTests.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Improve text excerpt and element value extraction
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Improve XML position accuracy and cross-platform tests
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: Pipelines/core-pipeline.yml

Optimize string comparison using Span
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Update XML XPath method documentation
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Remove unused 'variant' parameter from test methods
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Add test for accurate XPath position with early partial match
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithPartialMatchEarly_unix.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithPartialMatchEarly_windows.xml
Due: none

Remove Windows XML test data and synthesize variants at runtime
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithAttributeAndElementDuplicates_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateAttributeValues_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithDuplicateValues_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithEmptyElements_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithLongAttributes_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMavenNamespace_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithMultiLineAttributes_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNamespaces_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithNestedDuplicates_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithPartialMatchEarly_windows.xml
  AppInspector.Tests/TestData/TestXPathPositions/XmlWithWhitespace_windows.xml
Due: none

Add OS variant assertion to XPath position tests
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Update XML fixture line ending rules in .gitattributes
  .gitattributes
Due: none

Update AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
  AppInspector.Tests/RuleProcessor/XPathPositionTests.cs
Due: none

Refactor IEnumerable type usage in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Adds Comment Explaining FindAttributeValuePosition
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Update AppInspector.Tests.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
Due: none

Refactor boundary creation in TextContainer
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Refactor XML/XPath handling and add processors
  AppInspector.RulesEngine/CommentProcessor.cs
  AppInspector.RulesEngine/IPathProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/XPathProcessor.cs
Due: Pipelines/core-pipeline.yml

Refactor JSON/YAML path handling into dedicated processors
  AppInspector.RulesEngine/JsonPathProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.RulesEngine/YamlPathProcessor.cs
Due: Pipelines/core-pipeline.yml

Update NuGet package dependencies to latest versions
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update NuGet package dependencies to latest versions (#623)
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix XPath XML extraction to return correct sample and boundary
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/core-pipeline.yml

Refactor XPath evaluation and boundary extraction logic
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Rename test method for XPath version extraction
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: none

Add comprehensive XPath tests for RuleProcessor
  AppInspector.Tests/RuleProcessor/XPathComprehensiveTests.cs
Due: none

Refactor XPath extraction and remove position mapping
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Improve XML namespace handling in XPath evaluation
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XmlAndJsonTests.cs
Due: Pipelines/core-pipeline.yml

Improve XML boundary mapping and add XPath boundary tests
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
Due: Pipelines/core-pipeline.yml

Refine boundary distinctness assertions in XPath tests
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
Due: none

Refactor XML boundary detection for clarity and extensibility
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml

Remove unused using directive in test file
  AppInspector.Tests/RuleProcessor/XPathComprehensiveTests.cs
Due: none

Refactor BuildRule to use object model and parse namespaces
  AppInspector.Tests/RuleProcessor/XPathBoundaryTests.cs
Due: none

Improve XML attribute boundary detection and remove fallback
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/core-pipeline.yml
