Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Pipelines/core-pipeline.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        jobName: test_current
        dotnetVersion: ${{ variables.currentSDK }}
        dotnetVersionLTS: ${{ variables.LTS_SDK }}
  ...

Pipelines/sdl.yml:
  name: ApplicationInspector_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Fix four expression handling defects found in review
  AppInspector.RulesEngine/RuleExpression.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionParserTests.cs
Due: Pipelines/core-pipeline.yml

Pin the expression semantics the rules engine depends on
  AppInspector.Tests/RuleProcessor/OatExpressionSemanticsTests.cs
Due: none

Honour author supplied labels on every pattern kind
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionBehaviourTests.cs
Due: Pipelines/core-pipeline.yml

Judge a rule expression against each finding, not the whole file
  AppInspector.RulesEngine/AbstractRuleSet.cs
  AppInspector.RulesEngine/OatExtensions/ConvertedOatRule.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/Commands/AnalyzeResilienceTests.cs
  AppInspector.Tests/RuleProcessor/ExpressionGenerationTests.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
  AppInspector.Tests/RuleProcessor/RuleExpressionBehaviourTests.cs
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Make rule self-tests agree with the analyzer for expression rules
  AppInspector.RulesEngine/CaptureFilter.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/RuleVerifierAgreesWithProcessorTests.cs
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Document conjunction across patterns in the expression docs
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

add dependabot config
  .github/dependabot.yml
Due: none

Enhance expression validation and error reporting in RulesVerifier and related tests
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
  AppInspector.Tests/RuleProcessor/RuleVerifierAgreesWithProcessorTests.cs
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Improve explanation of pattern labels and conditions
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Make rule self-tests agree with the analyzer for expression rules (#656)
  AppInspector.RulesEngine/CaptureFilter.cs
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/RulesVerifier.cs
  AppInspector.Tests/RuleProcessor/ExpressionValidationTests.cs
  AppInspector.Tests/RuleProcessor/RuleVerifierAgreesWithProcessorTests.cs
  AppInspector/rules/samples/README.md
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Address API review findings and update expression generation (#663)
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.Tests/Languages/LanguagesTests.cs
  AppInspector.Tests/RuleProcessor/ExpressionGenerationTests.cs
  AppInspector/rules/default/webapp/api.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Correct post-quantum algorithm classification and detection patterns (#659)
  AppInspector/rules/default/cryptography/post_quantum.json
Due: Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine
